extends layout

block head
  link(rel="stylesheet", href="../css/cities.css")

block content
  h1 Veuillez choisir une destination :
    each destination in data.destinations
      .destination
        .nom
          h1 #{destination.name}
        .prix
          h1 Prix moyen du billet : #{destination.averagePrice}
        .tempsvol
          h1 Temps de vol : #{destination.averageTime}
          p Nombre de personnes : #{destination.passenger}
        .weather
          h1 La note météo : #{destination.weather.note}
