extends layout

block head
  link(rel="stylesheet", href="../css/hotel.css")

block content
    h1 La liste des Hôtels disponibles :

    each hotel in hotels
        .hotel
          .name
            h1 #{hotel.name}
          .emplacement
            p  #{hotel.address.street} <br> #{hotel.address.city}
          .classe
           h1 #{hotel.hotelClass}
          .prix
            p #{hotel.price}
          .photo
            img(src="", alt="") 
          .rating
            p #{hotel.rating}
          
            
        