extends layout

block head
  link(rel="stylesheet", href="../css/restaurant.css")

block content
    h1 Restaurants autour de vous :
    .restaurants
      each restaurant in restaurants
        .resto
          <style>
          </style>

          .nom
            h1=restaurant.name
          .rating
            .stars
              .etoile.gold ☆
              .etoile ☆
              .etoile ☆
              .etoile ☆
              .etoile ☆

          .adresse
            h1 #{restaurant.category}
            p #{restaurant.address.street} <br> #{restaurant.address.city}
          .prix
            p Prix moyen : #{restaurant.price}
